.about_container {
  margin-top: 3rem;
}
.about_section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.about_text {
  text-align: center;
  width: 500px;
  margin: auto 0;
}
.about_img {
  width: 400px;
  margin: auto 0;
}
.about_img img {
  width: 100%;
}

@media only screen and (max-width: 1024px) {
  .about_container {
    margin-top: 0;
  }
  .about_section {
    flex-direction: column;
  }
  .reverse {
    flex-direction: column-reverse;
  }
  .about_text {
    margin: 0 auto 1rem;
  }
  .about_img {
    margin: 0 auto;
  }
}
@media only screen and (max-width: 768px) {
  .about_container:last-child {
    margin-bottom: 50px;
  }
  .about_section {
    margin: 1rem;
  }
  .about_text {
    width: 100%;
    max-width: 0 auto;
  }
  .about_img {
    width: 250px;
  }
}
