/***********************************/
/* HOME START
/***********************************/
#welcome_section {
  margin: 0 auto;
  text-align: center;
}
#home_info {
  font-size: 3rem;
  margin-top: 0;
}
.home_img {
  margin-top: 50px;
  text-align: center;
}
.home_img img {
  margin: 0 auto;
  text-align: center;
}
.mobile_placeholder {
  display: none;
}
@media only screen and (max-width: 767px) {
  .mobile_placeholder {
    display: block;
    font-size: 2rem;
    text-align: center;
    padding: 10px;
    margin: 5px 10px;
    border: 5px solid red;
  }
}
