/***********************************/
/* LAYOUT
/***********************************/
.container {
  display: flex;
  flex-direction: row-reverse;
}
.page_container {
  background-color: #eef5db;
  width: 100%;
  height: 100vh;
  /* display: flex; */
  /* align-items: center; */
}

/* PAGE TITLE */
#page_title {
  font-size: 4rem;
  margin: 0;
  text-align: center;
}
