/***********************************/
/* NAVBAR START
/***********************************/
#navbar {
  display: block;
  background-color: #4f6367;
  width: 300px;
  text-align: center;
}
#nav_title {
  margin-bottom: 0.25rem;
  color: #eef5db;
}
#nav_sub_title {
  margin-top: 0;
  color: #eef5db;
}
#nav_item {
  border: 1px solid #b8d8d8;
  background-color: #7a9e9f;
}
.active {
  background-color: #fe5f55 !important;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.active:hover {
  background-color: #fc2f20 !important;
}
.nav_link {
  display: block;
  width: 100%;
  padding: 10px 0;
  border-bottom: 1px solid #b8d8d8;
  text-decoration: none;
  color: #eef5db;
  -moz-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}
.nav_link:hover {
  background-color: #b8d8d8;
}

@media only screen and (max-width: 768px) {
  #nav_title {
    display: none;
  }
  #nav_sub_title {
    display: none;
  }
  #navbar {
    display: block;
    position: fixed;
    width: 100%;
    bottom: 0;
  }
  #nav_item {
    display: flex;
    flex-direction: row;
    height: 45px;
  }
  .nav_link {
    text-align: center;
    padding-top: 0.8rem;
  }
}
@media only screen and (max-width: 413px) {
  .nav_link {
    font-size: 0.9rem;
  }
}
